#cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1rem;
   gap: var(--gap);

	& .card {
		background: var(--black);
		border-radius: var(--radius-medium);
      border: var(--gap-tiny) solid var(--black);
      overflow: hidden;
	}

	& .card .card-image {
		width: 100%;
		object-fit: contain;
      object-position: center;
      aspect-ratio: 1;
      border-radius: 0 0 var(--radius) var(--radius);

      &.square-image {
         /* Style square images differently, e.g., use cover instead of contain */
         object-fit: cover;
      }
	}

   & .card .cardContent {
      padding: 1rem;
   }
}
