<div class="card {{categoryClass}}">
	<div class="cardTop"{{bgImageStyle}}>
		<span class="cardCategory {{category}}"></span>
		{{licenseHtml}}
		{{imageHtml}}
	</div>
	<div class="cardContent">
		<h2 class="h5">{{name}}</h2>
		<p>Artist: {{artist}}</p>
	</div>
</div>